@using DAO.Model
@using MvcTask.Helper;
@model DAO.Model.Review
@{
    ViewBag.Title = "Отзывы";
}

@section styles
{
    <link href="~/Content/css/guest.css" rel="stylesheet" />
}

@section right{
    @using (Html.BeginRightBlock("Отзывы"))
    {
        <div class="reviews">
            @foreach (Review i in @ViewBag.Reviews)
            {
                @Html.Partial("Review", i)
                ;
            }
        </div>
    }
}

@section body{
    <h2>Оставить отзыв</h2>
    @using (Html.BeginForm("Registration", "Guest"))
    {
        @Html.TextBoxFor(m => m.Name, new { placeholder = "Имя" })
        @Html.Hidden("date", DateTime.Now)
        @Html.TextAreaFor(m => m.Text, new { placeholder = "Отзыв" })
        <input type="submit" value="Отправить" />
    }
}
