@{
    ViewBag.Title = "Отзывы";
}
@section styles{
    <link href="~/Content/guest.css" rel="stylesheet" />
}

@section right{
    <div class="reviews">
        @foreach(var i in @ViewBag.Reviews){
            <div class="article">
                <div class="title">
                    @i.Name
                </div>
                <div class="date">
                    @i.Date
                </div>
                <div class="text">
                    @i.Text
                </div>
            </div>
        }
    </div>
}

@section body{
    <h2>Оставить отзыв</h2>
    @using (Html.BeginForm("Registration","Guest"))
    {
        @Html.TextBox("name", "", new { placeholder = "Имя" })
        @Html.Hidden("date", DateTime.Now)
        @Html.TextArea("review", "", new { placeholder = "Отзыв" })
        <input type="submit" value="Отправить"/>
    }
}
