<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/templatemo_style.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-2.1.4.js"></script>
    @RenderSection("styles", false)
    @RenderSection("scripts", false)
    <script language="javascript" type="text/javascript">
        function clearText(field) {
            if (field.defaultValue == field.value) field.value = '';
            else if (field.value == '') field.value = field.defaultValue;
        }
    </script>
</head>
<body>
    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">

            <div id="templatemo_header">

                <div id="site_title">
                    <a href="/" target="_parent">
                        Stas
                        <span>Blog</span>
                        <span class="tagline">@ViewBag.Title</span>
                    </a>
                </div> <!-- end of site_title -->

                <div class="cleaner"></div>

            </div> <!-- end of header -->

            <div id="templatemo_menu">
                @Html.Partial("Menu")

                @Html.Partial("_LoginPartial")
            </div> <!-- end of templatemo_menu -->

            <div id="templatemo_main">

                <div id="templatemo_content">

                    @RenderSection("body", true)

                </div>

                <div id="templatemo_sidebar">
                    @RenderSection("right", false)
                </div>

                <div class="cleaner"></div>
            </div>

        </div>
        <div class="cleaner"></div>
    </div>

    <div id="templatemo_copyright">
        Copyright © 2015 Stas
    </div>
    <a href="#top" id="bt_up"></a>
    <script>
        $(document).ready(function () {
            var url = '/@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]';
            var res = url.replace(/Home/, '').replace(/\/Index/, '');
            $('a[href="' + res + '"]').addClass('current');
            $('#templatemo_menu li>a').prepend('<span></span>');
        })

    </script>
</body>
</html>