@model MvcTask.Models.Entity.Form

@{
    ViewBag.Title = "Регистрация";
}

@using MvcTask.Helper;

@section body{
    <h2>Спасибо за регистрацию</h2>

    <fieldset>
        <legend>Form</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Sex)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Sex)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.Age)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Age)
        </div>

        <div class="display-label">
            Другое
        </div>
        <div class="display-field">
            @Html.UlList(Model.AdditionInformation)
        </div>

    </fieldset>

}
