@using System.Collections.Generic
@using System.Linq
@model MvcTask.Areas.admin.Models.Article

@{
    ViewBag.Title = "Редактирование статьи";
}
@section body{


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Статья</legend>

            @Html.HiddenFor(model => model.ArticleId)

            <div class="editor-label">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Tags)
            </div>
            <div class="editor-field">
                @Html.ListBoxFor(model => model.Tags, ((IEnumerable<DAO.Model.Tag>)TempData["AllTags"]).Select(t => new SelectListItem { Value = t.TagId.ToString(), Text = t.Title }))
                @Html.ValidationMessageFor(model => model.Tags)
            </div>
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

}