@model IEnumerable<MvcTask.Models.PreviewArticle>

@{
    ViewBag.Title = "Статьи";
}

@section body{

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.ArticleId }) |
                    @Html.ActionLink("Просмотр", "Details", new { id = item.ArticleId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ArticleId })
                </td>
            </tr>
        }

    </table>
}